### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

# There are a total of 4 Operators and 3 Expressions, They are:
a) Operators: *,-,/,+
b) Expressions: 'hello'(String Val), -87.8(float), 6(int)

### 2. What is the difference between string and variable?

A Variable is used to store a data, and a String is data type, which is a type of information you would stored in a Variable. A String is a group of characters or a single character usually enclosed in double quotes " " or single quotes ' '

### 3. Describe three different data types.

a) INT data type: In this data type we store integer value to represent whole number
b) Float data type: In this data type we store floating point value to represent decimal values
c) String data type: this data type used to store a group of characters, it can be a numeric, special characters, alphabets.

In [4]:
# Example for int data type
intnum=15
print(intnum, type(intnum))
# Example for float data type
floatnum=6.9e3
print(floatnum, type(floatnum))
# Example for Complex data type
strval = "Nikhilesh"
print(strval, type(strval))

15 <class 'int'>
6900.0 <class 'float'>
Nikhilesh <class 'str'>

### 4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators and operands which is interpreted to produce the some other value.

In [6]:
15*5+20-40 # In this Expression the python interpreter evaluates the result 55

55

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

The expression is a combination of values, variables, and the operators.Whenever we type an expression at the prompt or ide, the interpreter evaluates the result of the expression, which means that it finds the value of the expression.

eg: 15*5+20-40 is an example of a expression

A statement is a group of code, like creating a new variable or displaying a value. When we type a statement, the interpreter executes it, which means that it does whatever the statement says.

eg: declaring a variables and assignment are statements because they do not return any value

In [9]:
#Example:
15*5+20-40 # Is an Expression
MyName = 'Nikhilesh Singh' # Is a Statement

### 6.After running the following code, what does the variable bacon contain? 
bacon = 22
bacon + 1

The variable bacon is set to 22. The expression bacon + 1 does not reassign the value in bacon (in other case if the expression is like bacon = bacon + 1 instead of bacon + 1)

In [10]:
# Example Case#1
bacon=22
bacon+1
print("First case: ",bacon)

#Example Case#2
bacon=22
bacon=bacon+1 
print("Second case: ",bacon)

First case:  22
Second case:  23

### 7.What should the values of the following two terms be?
'spam'+ 'spamspam'
'spam' * 3

Both expressions evaluate to the string 'spamspamspam'. In first case as the the expression follows String Concatentation and the second case the expression follows String Multiplication

In [11]:
print('spam'+'spamspam') # string concatenation
print('spam'*3) # string multiplication

spamspamspam
spamspamspam

### 8. Why is eggs a valid variable name while 100 is invalid?

Ans) Variable names cannot begin with a number.
-> The python rules for naming a variable are :
a) Variable name must start with a letter or the underscore character.
b) Variable name cannot start with a number.
c) Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
d) Variable names are case-sensitive (name, INEURON and ineuron are three different variables).
e) The reserved words(keywords) cannot be used naming the variable.

In [12]:
egg='Nikhilesh' # Valid variable Initilization
100='hello' # Invalid Variable Initilization
print(egg) # print the value of egg ie Nikhilesh
print(100) # Raises a Syntax Error as 100 is not a valid variable name

SyntaxError: cannot assign to literal (3634917690.py, line 2)

### 9.What three functions can be used to get the integer,floating-point number,or string version of a value?

The int(),float(),and str() functions will evaluate to the integer,float,string version of the value passed to them, it's also used for type conversions.

In [13]:
# Examples:
print('int(10.0): ',int(10.0)) # int() function converts the given input to int
print('float(10): ',float(10)) # float() function converts the given input to float
print('str(10): ',str(10)) # str() function converts given the input to string

int(10.0):  10
float(10):  10.0
str(10):  10

### 10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'

This cause of error is 99.because 99 is not a string value. 99 must be typecasted to a string value to fix this error. the correct way is:
Input: 'I have eaten ' + str(99) + 'burritos.'
Output: 'I have eaten 99 burritos.'

In [16]:
print('I have eaten '+99+' burritos')

TypeError: can only concatenate str (not "int") to str

In [17]:
print('I have eaten '+str(99)+' burritos')

I have eaten 99 burritos